<!doctype html>
<html lang="en">

  <head>
    {% include 'calc/head.html' %}
    <title>승진 점수 계산기</title>
  </head>

  <body>
    <div class="row g-0">

      <div class="col-3">
        <div class="d-flex flex-nowrap">{% include 'calc/sidebar.html' %}</div>
      </div>

      <div class="col-9">
        <div class="p-5">
          {% if request.user.is_authenticated %}
            <div class="mb-4">
              <ul class="nav nav-fill nav-underline">

                <li class="nav-item">
                  <a class="nav-link" href="/area/{{area.area}}/common">공통가산점</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" href="/area/{{area.area}}/diff">선택가산점</a>
                </li>

              </ul>
            </div>
          {% endif %}

          <form class="plus_area_form" method="POST">
            {% csrf_token %}
            <p class="h2 mb-5">
              {% if not request.user.is_authenticated %}전남
              {% endif %}선택가산점(10점)</p>
            <div class="accordion mb-2" id="plus_area_group">
              <div class="accordion-item">
                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">도서벽지학교 근무경력(3점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="outside_school_total" class="h5">0</p>
                  </div>
                </h2>

                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col" class="col-6">세부 항목</th>
                          <th scope="col" class="col-5">개월수</th>
                          <th scope="col" class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">도서-가 급지 경력</p>
                            <p class="h6">월 0.167</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="island_ga_year" name="island_ga_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="island_ga_month" name="island_ga_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="island_ga_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">도서-나 급지 경력</p>
                            <p class="h6">월 0.125</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="island_na_year" name="island_na_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="island_na_month" name="island_na_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="island_na_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">도서-다 급지 경력</p>
                            <p class="h6">월 0.084</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="island_da_year" name="island_da_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="island_da_month" name="island_da_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="island_da_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">도서-라 급지 경력</p>
                            <p class="h6">월수 0.063</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="island_ra_year" name="island_ra_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="island_ra_month" name="island_ra_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="island_ra_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">벽지-가 급지 경력</p>
                            <p class="h6">월수 0.084</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="mountain_ga_year" name="mountain_ga_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="mountain_ga_month" name="mountain_ga_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="mountain_ga_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">벽지-나 급지 경력</p>
                            <p class="h6">월수 0.063</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="mountain_na_year" name="mountain_na_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="mountain_na_month" name="mountain_na_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="mountain_na_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">벽지-다 급지 경력</p>
                            <p class="h6">월수 0.050</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="mountain_da_year" name="mountain_da_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="mountain_da_month" name="mountain_da_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="mountain_da_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">벽지-라 급지 경력</p>
                            <p class="h6">월수 0.042</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="mountain_ra_year" name="mountain_ra_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="mountain_ra_month" name="mountain_ra_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="mountain_ra_point">0</p>
                          </td>
                        </tr>
                        <tr class="table-group-divider">
                          <td colspan="3">도서벽지 근무경력은 아래의 농어촌교육진흥학교 근무경력과 중복되지 않습니다. 점수를 비교하여 유리한 것으로 입력하세요.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="outside_school_memo" name="outside_school_memo" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">농어촌교육진흥학교 근무경력(1점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="rural_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col" class="col-6">세부 항목</th>
                          <th scope="col" class="col-5">개월수</th>
                          <th scope="col" class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">1급지 경력</p>
                            <p class="h6">월 0.012</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="rural_1_year" name="rural_1_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="rural_1_month" name="rural_1_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="rural_1_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">2급지 경력</p>
                            <p class="h6">월 0.008</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="rural_2_year" name="rural_2_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="rural_2_month" name="rural_2_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="rural_2_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">3급지 경력</p>
                            <p class="h6">월 0.006</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="rural_3_year" name="rural_3_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="rural_3_month" name="rural_3_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="rural_3_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <p class="h5">추가경력점(0.15)</p>
                            <p class="h6">기본 경력점 상한점 0.85점을 초과한 근무 경력에 한해 월 0.002점을 추가경력점으로 인정</p>
                          </td>
                          <td>
                            <p class="h6" id="rural_add_point">0</p>
                          </td>
                        </tr>
                        <tr class="table-group-divider">
                          <td colspan="3">농어촌교육진흥학교 근무경력은 위의 도서벽지학교 근무경력과 중복되지 않습니다. 점수를 비교하여 유리한 것으로 입력하세요.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="rural_memo" name="rural_memo" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">보직교사 근무경력(1.0/1.25점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="high_teacher_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col" class="col-6">세부 항목</th>
                          <th scope="col" class="col-5">년수</th>
                          <th scope="col" class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">기본경력점(1점)</p>
                            <p class="h6">월 0.012 / 연 0.144</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="high_teacher_year" name="high_teacher_year">
                              <p class="w-auto">년</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="high_teacher_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">추가경력점(0.25점)</p>
                            <p class="h6">월 0.008, 연 0.096</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="high_teacher_add_year" name="high_teacher_add_year">
                              <p class="w-auto">년</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="high_teacher_add_point">0</p>
                          </td>
                        </tr>
                        <tr class="table-group-divider">
                          <td colspan="3">기본 경력점 만점은 1점이며, 추가 경력점은 1정 자격연수 평정점과의 합산점이 9점에 도달할 때까지 적용할 수 있습니다.
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="high_teacher_memo" name="high_teacher_memo" rows="3"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">교육감/교육장 지정 연구학교 근무경력(1.25점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="research_school_area_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="col-6">세부 항목</th>
                          <th class="col-5">개월수</th>
                          <th class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">교육감 지정 연구학교</p>
                            <p class="h6">월 0.0167점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="research_school_area_year" name="research_school_area_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="research_school_area_month" name="research_school_area_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="research_school_area_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">교육장 지정 연구학교</p>
                            <p class="h6">월 0.0139점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="research_school_area2_year" name="research_school_area2_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="research_school_area2_month" name="research_school_area2_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="research_school_area2_point">0</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="research_school_area_memo" name="research_school_area_memo" rows="3"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">기타교육활동및전문성신장경력실적(1점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="etc_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="col-6">세부 항목</th>
                          <th class="col-5">개월수</th>
                          <th class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">나. 복식학급 담당 또는 겸임순회교사</p>
                            <p class="h6">월 0.0105점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="double_class_year" name="double_class_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="double_class_month" name="double_class_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="double_class_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">다. 사이버가정학습담당교사</p>
                            <p class="h6">월 0.0105점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="cyber_year" name="cyber_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="cyber_month" name="cyber_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="cyber_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">라. 영재교육원/발명교실/영어타운 전담교사</p>
                            <p class="h6">월 0.0105점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="cyber_year" name="cyber_year">
                              <p class="w-auto">년</p>
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="cyber_month" name="cyber_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="cyber_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">마. 교육실습학생담당교사</p>
                            <p class="h6">월 0.0315 일 0.00105점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="12" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="intern_month" name="intern_month">
                              <p class="w-auto">월</p>
                              <input type="number" min="0" max="31" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-25 p-1" id="intern_day" name="intern_day">
                              <p class="w-auto">일</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="intern_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">바. 청소년단체담당교사</p>
                            <p class="h6">월 0.0053</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="scout_month" name="scout_month">
                              <p class="w-auto">월</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="scout_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">타. 전국대회 지도교사</p>
                            <p class="h6">금상 0.25 은상 0.1875 동상 0.125</p>
                            <p class="h6">전국소년체육대회, 전국과학전람회, 전국학생발명품경진대회, 전국과학탐구경진대회</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <div class="col">
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">금상 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="competition_gold_point" name="competition_gold_point">
                                </div>
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">은상 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="competition_silver_point" name="competition_silver_point">
                                </div>
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">동상 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="competition_bronze_point" name="competition_bronze_point">
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="competition_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">거. 국가기술자격법에 의한 기술자격증 소지자</p>
                            <p class="h6">1급 0.3 2급 0.2 3급 0.1</p>
                            <p class="h6">거목 상한점 0.3점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <div class="col">
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">1급 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="cert_1_point" name="cert_1_point">
                                </div>
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">2급 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="cert_2_point" name="cert_2_point">
                                </div>
                                <div class="row justify-content-center align-text-middle">
                                  <p class="w-auto align-text-middle m-0">3급 횟수
                                  </p><input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="cert_3_point" name="cert_3_point">
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="cert_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">더. 학교교육력유공증진유공교원</p>
                            <p class="h6">연 0.036점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <div class="col">
                                <div class="row justify-content-center align-text-middle">
                                  <input type="number" min="0" max="10" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="edupower_count" name="edupower_count">
                                  <p class="w-auto align-text-middle m-0">회</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="edupower_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">러. 좋은수업실천연구 추가 실적점</p>
                            <p class="h6">아래 실적점의 상한선인 2.0 도달 이후부터 1회당 0.02점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <div class="col">
                                <div class="row justify-content-center align-text-middle">
                                  <input type="number" min="0" max="50" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="openclass_add_count" name="openclass_add_count">
                                  <p class="w-auto align-text-middle m-0">회</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="openclass_add_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">머. 보직교사 추가경력</p>
                            <p class="h6">연 0.036, 0.25점 상한</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <div class="col">
                                <div class="row justify-content-center align-text-middle">
                                  <input type="number" min="0" max="50" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="high_teacher_add_plus_count" name="high_teacher_add_plus_count">
                                  <p class="w-auto align-text-middle m-0">년</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="high_teacher_add_plus_point">0</p>
                          </td>
                        </tr>

                        <tr class="table-group-divider">
                          <td colspan="3">일부 빠진 항목(예:가 항목)은 더 이상 받을 수 없는 점수여서 제외하였습니다.<br>
                            각 항목은 0.5점을 초과할 수 없습니다.<br>
                            나와 라목은 각각 중복되지 않는 경우가 많습니다. 매뉴얼을을 별도로 확인하시기 바랍니다<br>
                            마항은 실습학생을 두 명 이상 담당한 교사에 한합니다.<br>
                            타항은 연 1회만 인정되며, 전국대회 입상실적과 동일한 주제의 연구실적은 중복으로 인정되지 않습니다.<br>
                            거항의 상한점은 0.3점이며, 대한상공회의소나 한국산업인력공단에서 인정한 자격으로 한정됩니다.<br>

                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="etc_memo" name="etc_memo" rows="3"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">좋은수업실천연구 실적(2점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="research_school_area_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="col-6">세부 항목</th>
                          <th class="col-5">개월수</th>
                          <th class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">좋은수업실천연구 횟수</p>
                            <p class="h6">1회당 0.06점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="40" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="openclass_count" name="openclass_count">
                              <p class="w-auto">회</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="openclass_point">0</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="openclass_memo" name="openclass_memo" rows="3"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeven"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">전라남도 거주자경력(0.5점)</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="living_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="col-6">세부 항목</th>
                          <th class="col-5">개월수</th>
                          <th class="col-1">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">본인 단독거주자</p>
                            <p class="h6">월 0.0016점, 일 0.000053점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="500" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="living_solo_month" name="living_solo_month">
                              <p class="w-auto">월</p>
                              <input type="number" min="0" max="31" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="living_solo_day" name="living_solo_day">
                              <p class="w-auto">일</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="living_solo_point">0</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">전가족 거주자</p>
                            <p class="h6">월 0.0025점, 일 0.000083점</p>
                          </td>
                          <td>
                            <div class="row justify-content-center">
                              <input type="number" min="0" max="500" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="living_family_month" name="living_family_month">
                              <p class="w-auto">월</p>
                              <input type="number" min="0" max="31" {% if request.user.is_authenticated %} value="{{ point.career_year }}" {% endif %} class="form-control w-25 p-1" id="living_family_day" name="living_family_day">
                              <p class="w-auto">일</p>
                            </div>
                          </td>
                          <td>
                            <p class="h6" id="living_family_point">0</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="openclass_memo" name="openclass_memo" rows="3"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-2">
                <p class="h2">합계</p>
              </div>
              <div class="col-2">
                <p id="total" class="h2 text-center mb-3">0</p>
              </div>
            </div>
            <button class="btn btn-primary">저장하기</button>
            <button type="button" class="btn btn-secondary" onclick="area_diff_input_check()">계산하기</button>
          </form>

        </div>
      </div>
    </div>
  </body>

</html>

<script>
  window.onload = function () {
    calc_area_diff()
  };

  function area_diff_input_check() {
    calc_area_diff()
  }

  function form_reset() {
    var reset_list = ["outside_school_total", 
    "island_ga_point","island_na_point", "island_da_point","island_ra_point",
    "mountain_ga_point","mountain_na_point", "mountain_da_point","mountain_ra_point",
    "rural_total","rural_1_point","rural_2_point","rural_3_point","rural_add_point",
    "high_teacher_total","high_teacher_point","high_teacher_add_point",
    "research_school_area_total","research_school_area_point","research_school_area2_point",
    "etc_total","double_class_point","cyber_point","genius_point","intern_point",
    "scout_point","competition_point","cert_point","edupower_point","openclass_add_point",
    "high_teacher_add_plus_point",
    "openclass_total","openclass_point",
    "living_total","living_solo_point","living_family_point",
    "total"]

    for (var i = 0; i < reset_list.length; i++) {
      document.getElementById(reset_list[i]).innerHTML = "0";
    }
  }

  function calc_area_diff() {
    form_reset()

    var island_ga_year = document.getElementById("island_ga_year").value
    var island_na_year = document.getElementById("island_na_year").value
    var island_da_year = document.getElementById("island_da_year").value
    var island_ra_year = document.getElementById("island_ra_year").value
    var island_ga_month = document.getElementById("island_ga_month").value
    var island_na_month = document.getElementById("island_na_month").value
    var island_da_month = document.getElementById("island_da_month").value
    var island_ra_month = document.getElementById("island_ra_month").value
    var mountain_ga_year = document.getElementById("mountain_ga_year").value
    var mountain_na_year = document.getElementById("mountain_na_year").value
    var mountain_da_year = document.getElementById("mountain_da_year").value
    var mountain_ra_year = document.getElementById("mountain_ra_year").value
    var mountain_ga_month = document.getElementById("mountain_ga_month").value
    var mountain_na_month = document.getElementById("mountain_na_month").value
    var mountain_da_month = document.getElementById("mountain_da_month").value
    var mountain_ra_month = document.getElementById("mountain_ra_month").value

    var island_ga_point = Number(island_ga_year) * 0.167 * 12 + Number(island_ga_month) * 0.167
    document.getElementById("island_ga_point").innerHTML = island_ga_point.toFixed(4)

  }
</script>