<!doctype html>
<html lang="en">

  <head>
    {% include 'calc/head.html' %}
    <title>승진 점수 계산기</title>
  </head>

  <body>
    <div class="row g-0">

      <div class="col-3">
        <div class="d-flex flex-nowrap">{% include 'calc/sidebar.html' %}</div>
      </div>

      <div class="col-9">
        <div class="p-5">
          <div class="mb-4">
            <ul class="nav nav-fill nav-underline">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'calc:cc' %}">경력평정</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="{% url 'calc:cw' %}">근무성적평정</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'calc:ct' %}">연수성적평정</a>
              </li>

            </ul>
          </div>
          <form class="wp_form" method="POST">
            {% csrf_token %}
            <div class="accordion mb-2" id="wp_group">
              <div class="accordion-item">
                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">최근 5년간 근무성적평정</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="career_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">최근 5년간 근무성적평정점(최근 순서대로 입력)</th>
                          <th scope="col">점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">당해년도</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-50 p-1" id="wp_late_1" name="wp_late_1">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">직전년도</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-50 p-1" id="wp_late_2" name="wp_late_2">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">3년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-50 p-1" id="wp_late_3" name="wp_late_3">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">4년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-50 p-1" id="wp_late_4" name="wp_late_4">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">5년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.career_month }}" {% endif %} class="form-control w-50 p-1" id="wp_late_5" name="wp_late_5">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-2">
                <p class="h2">합계</p>
              </div>
              <div class="col-2">
                <p id="total" class="h2 text-center mb-3">0</p>
              </div>
            </div>
            <button class="btn btn-primary">저장하기</button>
            <button type="button" class="btn btn-secondary" onclick="career_input_check()">계산하기</button>
          </form>
        </div>
      </div>

    </div>
  </body>

</html>