<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'calc/head.html' %}
    <title>승진 점수 계산기</title>
  </head>

  <body>
    <div class="row g-0">
      <div class="col-3">
        <div class="d-flex flex-nowrap">{% include 'calc/sidebar.html' %}</div>
      </div>
      <div class="col-9">
        <div class="p-5">
          <div class="m-6 w-100 h-100">
            <p class="h2">해당 페이지는 아직 작업중입니다.</p>
            <p class="h5">해당 페이지는 관련 매뉴얼 및 규정이 없어 작업을 하지 못한 페이지입니다.</p>
          </div>
        </div>
      </div>
    </body>

  </html>

  <script></script>
