<!doctype html>
<html lang="en">

  <head>
    {% include 'calc/head.html' %}
    <title>승진 점수 계산기</title>
  </head>

  <body>
    <div class="row g-0">

      <div class="col-3">
        <div class="d-flex flex-nowrap">{% include 'calc/sidebar.html' %}</div>
      </div>

      <div class="col-9">
        <div class="p-5">
          <div class="mb-4">
            <ul class="nav nav-fill nav-underline">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'calc:cc' %}">경력평정</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="{% url 'calc:cw' %}">근무성적평정</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'calc:ct' %}">연수성적평정</a>
              </li>

            </ul>
          </div>
          <form class="wp_form" method="POST" onsubmit="wp_input_check();">
            {% csrf_token %}
            <p class="h2 mb-5">근무성적평정(100점)</p>
            <div class="accordion mb-2" id="wp_group">
              <div class="accordion-item">
                <h2 class="accordion-header row">
                  <div class="col-1">
                    <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"></button>
                  </div>
                  <div class="col-9 align-self-center p-2">
                    <p class="h5 text-start">최근 5년간 근무성적평정</p>
                  </div>
                  <div class="col-2 align-self-center">
                    <p id="wp_total" class="h5">0</p>
                  </div>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col">최근 5년간 근무성적평정점(최근 순서대로 입력)</th>
                          <th scope="col">원점수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="h5">당해년도</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.wp_late_1 }}" {% endif %} class="form-control w-50 p-1" id="wp_late_1" name="wp_late_1">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">직전년도</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.wp_late_2 }}" {% endif %} class="form-control w-50 p-1" id="wp_late_2" name="wp_late_2">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">3년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.wp_late_3 }}" {% endif %} class="form-control w-50 p-1" id="wp_late_3" name="wp_late_3">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">4년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.wp_late_4 }}" {% endif %} class="form-control w-50 p-1" id="wp_late_4" name="wp_late_4">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="h5">5년전</p>
                          </td>
                          <td class="d-flex justify-content-center">
                            <input type="number" min="0" max="100" {% if request.user.is_authenticated %} value="{{ point.wp_late_5 }}" {% endif %} class="form-control w-50 p-1" id="wp_late_5" name="wp_late_5">
                          </td>
                        </tr>
                        <tr class="table-group-divider">
                          <td colspan="2">최근 5년간의 근무성적평정 중에서 유리한 3년을 선택하여, 가장 최근의 성적은 34/100, 나머지 성적은 33/100을 곱하여 합산합니다.</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row w-100 justify-content-center">
                      <div class="mb-3 w-75">
                        <label for="exampleFormControlTextarea1" class="form-label">개인 메모</label>
                        <textarea class="form-control" id="wp_memo" name="wp_memo" rows="3">{{ point.wp_memo }}</textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-2">
                <p class="h2">합계</p>
              </div>
              <div class="col-2">
                <p id="total" class="h2 text-center mb-3">0</p>
              </div>
            </div>
            <input style="display: none;" type="text" id="hidden_total" name="hidden_total">
            <button class="btn btn-primary">저장하기</button>
            <button type="button" class="btn btn-secondary" onclick="wp_input_check()">계산하기</button>
          </form>
        </div>
      </div>

    </div>
  </body>

</html>

<script>
  window.onload = function () {
    calc_wp()
  };

  function form_reset() {
    document
      .getElementById("wp_total")
      .innerHTML = "0"
    document
      .getElementById("total")
      .innerHTML = "0"
  }

  function wp_input_check() {
    var check_wp_late_1 = Number(document.getElementById("wp_late_1").value)
    var check_wp_late_2 = Number(document.getElementById("wp_late_2").value)
    var check_wp_late_3 = Number(document.getElementById("wp_late_3").value)
    var check_wp_late_4 = Number(document.getElementById("wp_late_4").value)
    var check_wp_late_5 = Number(document.getElementById("wp_late_5").value)

    if ((check_wp_late_1 >= 0 && check_wp_late_1 <= 100) && (check_wp_late_2 >= 0 && check_wp_late_2 <= 100) && (check_wp_late_3 >= 0 && check_wp_late_3 <= 100) && (check_wp_late_4 >= 0 && check_wp_late_4 <= 100) && (check_wp_late_5 >= 0 && check_wp_late_5 <= 100)) {
      calc_wp()
    } else {
      document
        .getElementById("wp_total")
        .innerHTML = "error"
      document
        .getElementById("total")
        .innerHTML = "error"
    }
  }

  function calc_wp() {
    form_reset()
    input_list = [0, 0, 0, 0, 0]
    input_list[0] = {
      order: 1,
      point: Number(document.getElementById("wp_late_1").value)
    }
    input_list[1] = {
      order: 2,
      point: Number(document.getElementById("wp_late_2").value)
    }
    input_list[2] = {
      order: 3,
      point: Number(document.getElementById("wp_late_3").value)
    }
    input_list[3] = {
      order: 4,
      point: Number(document.getElementById("wp_late_4").value)
    }
    input_list[4] = {
      order: 5,
      point: Number(document.getElementById("wp_late_5").value)
    }
    input_list.sort((a, b) => b.point - a.point)
    input_list.pop()
    input_list.pop()
    input_list.sort((a, b) => a.order - b.order)
    point1 = input_list[0].point * 34 / 100
    point2 = input_list[1].point * 33 / 100
    point3 = input_list[2].point * 33 / 100
    totalpoint = point1 + point2 + point3
    document
      .getElementById("wp_total")
      .innerHTML = totalpoint.toFixed(4)
    document
      .getElementById("total")
      .innerHTML = totalpoint.toFixed(4)

    document
      .getElementById("hidden_total")
      .value = document
      .getElementById("total")
      .innerHTML
    return true;
  }
</script>
